<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
  <a th:href="@{/product}">
    Back to List Product
  </a>
</p>
<table id="products">
  <thead>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Price</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="product,productStatus:${products}">
    <td th:text="${productStatus.count}"></td>
    <td th:text="${product.getName()}"></td>
    <td th:text="${product.getBrand()}"></td>
    <td th:text="${product.getPrice()}"></td>
  </tr>
  </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>