<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/layout::header"></div>
<div class="row bg-success">
    <div class="col-md-2"></div>
    <div class="col-md-8 bg-">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand text-white" th:href="@{/furama}">Home</a>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                        <!--                        Employee button-->
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page"
                               href="/Employees">Employee</a>
                        </li>
                        <!--                        Customer button-->
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/furama/search}">Customer</a>
                        </li>

                        <!--                        Service button-->
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" th:href="@{/facility/search}">Service</a>
                        </li>

                        <!--                        Contrac button-->
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/contract/search}">Contrac</a>
                        </li>
                    </ul>
<!--                    <form class="d-flex" role="search" th:action="@{/facility/search}">-->
<!--                        <input class="form-control me-2" type="search" placeholder="Name Search" aria-label="Search"-->
<!--                               name="name">-->
<!--                        <select name="id" class="form-select" aria-label="Default select example">-->
<!--                            <option value="" disabled selected>Facility Type Search</option>-->
<!--                            <option th:each="facilityType:${facilityTypes}"-->
<!--                                    th:value="${facilityType.id}"-->
<!--                                    th:text="${facilityType.name}">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                        <button class="btn btn-primary text-white" type="submit">Search</button>-->
<!--                    </form>-->
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div th:replace="/layout::leftContent"></div>
    <div class="col-md-11 vh-100">
        <p>
            <button type="button"
                    class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#createModal">
                Add New Contract
            </button>
        </p>
        <table id="table123" class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Facility Name</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Deposit</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Attach Facility</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="contract,status:${contracts}">
                <td th:text="${status.count}"></td>
                <td th:text="${contract.getContractId()}"></td>
                <td th:text="${contract.getFacilityName()}"></td>
                <td th:text="${contract.getCustomerName()}"></td>
                <td th:text="${contract.getStartDate()}"></td>
                <td th:text="${contract.getEndDate()}"></td>
                <td th:text="${contract.getDeposit()}"></td>
                <td th:text="${contract.getTotalCost()}"></td>
                <td>
                    <button th:attr="onclick=|infoAddContractDetail('${contract.getContractId()}')|" type="button"
                            class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#AddContractDetailModal">
                        +
                    </button>

                    <button th:attr="onclick=|infoListAttachFacility('${contract.getContractId()}')|" type="button"
                            class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ListAttachFacilityModal">
                        List Attch Facility
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
        <span>
    <a th:if="${contracts.hasPrevious()}"
       th:href="@{/contract/search(page=${contracts.number}-1)}">Trước</a></span>
        <span th:text="${contracts.number}+1+'/'"></span>
        <span th:text="${contracts.totalPages}"></span>
        <span><a th:if="${contracts.hasNext()}"
                 th:href="@{/contract/search(page=${contracts.number}+1)}">Sau</a></span>
    </div>
</div>


<!-- Add Attach Facility Modal -->
<!--<div class="modal fade" id="AddAttachFacilityModal" tabindex="-1" aria-labelledby="AddAttachFacilityModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="AddAttachFacilityModalLabel">Delete Facility</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <form th:action="@{/contract/updateAttachFacilityto}" method="post">-->
<!--                <div class="modal-body">-->
<!--                    <input hidden type="text" id="deleteId" name="deleteId">-->
<!--                    <span>Do you want to delete an Facility </span>-->
<!--                    <span style="color: red" id="deleteName"></span>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>-->
<!--                    <button type="submit" class="btn btn-sm btn-primary">Delete</button>-->
<!--                </div>-->
<!--            </form>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- List Attach Facility Modal -->
<div class="modal fade" id="AddContractDetailModal" tabindex="-1" aria-labelledby="AddContractDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddContractDetailModalLabel">Edit Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/contract/addContractDetail}" th:object="${contractDetail}" method="post">
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr >
                            <th scope="col">ID</th>
                            <td><input type="text" id="contractId" th:field="*{contract}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Facility Type</th>
                            <th scope="col">Name</th>
                        </tr>
                        <tr>
                            <td>
                                <select th:field="*{attachFacility}" id="faType" class="form-select">
                                    <option th:each="attachFacility:${attachFacilitys}"
                                            th:value="${attachFacility.id}"
                                            th:text="${attachFacility.name}">
                                    </option>
                                </select>
                            </td>
                            <td><input type="number" class="form-control" style="width: 100px" th:field="*{quantity}"></td>
                        </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary">Add Contract Detail</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Add New Contract Modal -->
<!--<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="createModalLabel">Edit Customer</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <form th:action="@{/facility/save}" th:object="${facility}" method="post">-->
<!--                <div class="modal-body">-->
<!--                    <table class="table">-->
<!--                        <thead>-->
<!--                        <tr hidden>-->
<!--                            <th scope="col">ID</th>-->
<!--                            <td><input type="text" id="createId" th:field="*{id}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Name</th>-->
<!--                            <td><input type="text" id="createName" th:field="*{name}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Area</th>-->
<!--                            <td><input type="text" id="createArea" th:field="*{area}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Aost</th>-->
<!--                            <td><input type="text" id="createCost" th:field="*{cost}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Max People</th>-->
<!--                            <td><input type="text" id="createMaxPeople" th:field="*{maxPeople}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Standard Room</th>-->
<!--                            <td><input type="text" id="createStandardRoom" th:field="*{standardRoom}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Description Other Convenience</th>-->
<!--                            <td><input type="text" id="createDescriptionOtherConvenience"-->
<!--                                       th:field="*{descriptionOtherConvenience}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Pool Area</th>-->
<!--                            <td><input type="text" id="createPoolArea" th:field="*{poolArea}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Number Of Floors</th>-->
<!--                            <td><input type="text" id="createNumberOfFloors" th:field="*{numberOfFloors}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Facility Free</th>-->
<!--                            <td><input type="text" id="createFacilityFree" th:field="*{facilityFree}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Facility Type</th>-->
<!--                            <td>-->
<!--                                <select th:field="*{facilityType}" id="createFaType" onchange="addFacilityTypeToCreate()">-->
<!--                                    <option th:each="facilityType:${facilityTypes}"-->
<!--                                            th:value="${facilityType.id}"-->
<!--                                            th:text="${facilityType.name}">-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="col">Rent Type</th>-->
<!--                            <td>-->
<!--                                <select th:field="*{rentType}" id="createReType">-->
<!--                                    <option th:each="rentType:${rentTypes}"-->
<!--                                            th:value="${rentType.id}"-->
<!--                                            th:text="${rentType.name}">-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                    </table>-->

<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>-->
<!--                    <button type="submit" class="btn btn-sm btn-primary">Save</button>-->
<!--                </div>-->
<!--            </form>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<footer th:replace="/layout::footer"></footer>
</body>
<script>
    function infoAddContractDetail(id) {
        document.getElementById("contractId").value = id;
    }

    function infoEdit(id, name, area, cost, maxPeople, standardRoom, descriptionOtherConvenience, poolArea, numberOfFloors,
                      facilityFree, facilityType, rentType) {
        document.getElementById("id").value = id;
        document.getElementById("name").value = name;
        document.getElementById("cost").value = cost;
        document.getElementById("maxPeople").value = maxPeople;
        document.getElementById("standardRoom").value = standardRoom;
        document.getElementById("descriptionOtherConvenience").value = descriptionOtherConvenience;
        document.getElementById("poolArea").value = poolArea;
        document.getElementById("numberOfFloors").value = numberOfFloors;
        document.getElementById("facilityFree").value = facilityFree;
        document.getElementById("faType").value = facilityType;
        document.getElementById("reType").value = rentType;
    }
    function addFacilityType(){
        let facilityType = document.getElementById("faType").value;
        if (facilityType==1){
            document.getElementById("standardRoom").style.display = "flex";
            document.getElementById("descriptionOtherConvenience").style.display = "flex";
            document.getElementById("poolArea").style.display = "flex";
            document.getElementById("numberOfFloors").style.display = "flex";
            document.getElementById("facilityFree").style.display = "none";
            document.getElementById("faType").value = 1;
        }else if (facilityType==2){
            document.getElementById("standardRoom").style.display = "flex";
            document.getElementById("descriptionOtherConvenience").style.display = "flex";
            document.getElementById("poolArea").style.display = "none";
            document.getElementById("numberOfFloors").style.display = "flex";
            document.getElementById("facilityFree").style.display = "none";
            document.getElementById("faType").value = 2;
        }else {
            document.getElementById("standardRoom").style.display = "none";
            document.getElementById("descriptionOtherConvenience").style.display = "none";
            document.getElementById("poolArea").style.display = "none";
            document.getElementById("numberOfFloors").style.display = "none";
            document.getElementById("facilityFree").style.display = "flex";
            document.getElementById("faType").value = 3;
        }

    }
    function addFacilityTypeToCreate() {
        let facilityType = document.getElementById("createFaType").value;
        if (facilityType == 1) {
            document.getElementById("createStandardRoom").style.display = "flex";
            document.getElementById("createDescriptionOtherConvenience").style.display = "flex";
            document.getElementById("createPoolArea").style.display = "flex";
            document.getElementById("createNumberOfFloors").style.display = "flex";
            document.getElementById("createFacilityFree").style.display = "none";
            document.getElementById("createFaType").value = 1;
        } else if (facilityType == 2) {
            document.getElementById("createStandardRoom").style.display = "flex";
            document.getElementById("createDescriptionOtherConvenience").style.display = "flex";
            document.getElementById("createPoolArea").style.display = "none";
            document.getElementById("createNumberOfFloors").style.display = "flex";
            document.getElementById("createFacilityFree").style.display = "none";
            document.getElementById("createFaType").value = 2;
        } else {
            document.getElementById("createStandardRoom").style.display = "none";
            document.getElementById("createDescriptionOtherConvenience").style.display = "none";
            document.getElementById("createPoolArea").style.display = "none";
            document.getElementById("createNumberOfFloors").style.display = "none";
            document.getElementById("createFacilityFree").style.display = "flex";
            document.getElementById("createFaType").value = 3;
        }
    }
</script>
</html>