<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/jquery-3.6.3.min.js"></script>
<body>
<div th:replace="/layout::header"></div>
<div class="row bg-success">
    <div class="col-md-2"></div>
    <div class="col-md-8 bg-">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand text-white" th:href="@{/furama}">Home</a>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                        <!--                        Employee button-->
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page"
                               href="/Employees">Employee</a>
                        </li>
                        <!--                        Customer button-->
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/furama/search}">Customer</a>
                        </li>

                        <!--                        Service button-->
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" th:href="@{/facility/search}">Service</a>
                        </li>

                        <!--                        Contrac button-->
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/contract/search}">Contrac</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div th:replace="/layout::leftContent"></div>
    <div class="col-md-11 vh-100">
        <p>
            <button type="button"
                    class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createContractModal"
                    onclick="closeAddNewContractDetailModal()">
                Add New Contract
            </button>
        </p>
        <table id="table123" class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Facility Name</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Deposit</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Attach Facility</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="contract,status:${contracts}">
                <td th:text="${status.count}"></td>
                <td th:text="${contract.getContractId()}"></td>
                <td th:text="${contract.getFacilityName()}"></td>
                <td th:text="${contract.getCustomerName()}"></td>
                <td th:text="${contract.getStartDate()}"></td>
                <td th:text="${contract.getEndDate()}"></td>
                <td th:text="${contract.getDeposit()}"></td>
                <td th:text="${contract.getTotalCost()}"></td>
                <td>
                    <button th:attr="onclick=|infoAddContractDetail('${contract.getContractId()}')|" type="button"
                            class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddContractDetailModal">
                        +
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#ListAttachFacilityModal"
                            th:attr="onclick=|showList('${contract.getContractId()}')|">
                        List Attach Facility
                    </button>

                </td>
            </tr>

            </tbody>
        </table>
        <span>
    <a th:if="${contracts.hasPrevious()}"
       th:href="@{/contract/search(page=${contracts.number}-1)}">Trước</a></span>
        <span th:text="${contracts.number}+1+'/'"></span>
        <span th:text="${contracts.totalPages}"></span>
        <span><a th:if="${contracts.hasNext()}"
                 th:href="@{/contract/search(page=${contracts.number}+1)}">Sau</a></span>
    </div>
</div>

<!-- Add Contract Detail Modal -->
<div class="modal fade" id="AddContractDetailModal" tabindex="-1" aria-labelledby="AddContractDetailModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddContractDetailModalLabel">Add Contract Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/contract/addContractDetail}" th:object="${contractDetail}" method="post">
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <td><input hidden type="text" id="contractId" th:field="*{contract}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Facility Type</th>
                            <th scope="col">Name</th>
                        </tr>
                        <tr>
                            <td>
                                <select th:field="*{attachFacility}" id="faType" class="form-select">
                                    <option th:each="attachFacility:${attachFacilitys}"
                                            th:value="${attachFacility.id}"
                                            th:text="${attachFacility.name}">
                                    </option>
                                </select>
                            </td>
                            <td><input type="number" class="form-control" style="width: 100px" th:field="*{quantity}">
                            </td>
                        </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary">Add Contract Detail</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- List Attach Facility Modal -->
<div class="modal fade" id="ListAttachFacilityModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">List Attach Facility</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                <table border="1" class="table">
                    <thead>
                    <tr>
                        <th>Cost</th>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody id="body">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Add new Contract-->
<div class="modal fade" id="createContractModal" tabindex="-1" aria-labelledby="createContractModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createContractModalLabel">Add New Contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="closeAddNewContractDetailModal()"></button>
            </div>

            <form  th:object="${contract}" method="post">
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Start Date</th>
                            <td><input type="date" id="startDate" th:field="*{startDate}">
                            <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">End Date</th>
                            <td><input type="date" id="endDate" th:field="*{endDate}">
                            <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Deposit</th>
                            <td><input type="text" id="deposit" th:field="*{deposit}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Total Cost</th>
                            <td><input type="text" id="totalCost" readonly></td>
                        </tr>
                        <tr>
                            <th scope="col">Customer</th>
                            <td>
                                <select th:field="*{customer}" id="customer">
                                    <option value="" disabled selected>Choose Customer</option>
                                    <option th:each="customer:${customers}"
                                            th:value="${customer.id}"
                                            th:text="${customer.name}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Facility</th>
                            <td>
                                <select th:field="*{facility}" id="facility" onchange="ListAttachFacility()">
                                    <option value="" disabled selected>Choose Facility</option>
                                    <option th:each="facility:${facilitys}"
                                            th:value="${facility.id}"
                                            th:text="${facility.name}"
                                            th:data-cost="${facility.cost}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Employee</th>
                            <td>
                                <select th:field="*{employee}" id="employee">
                                    <option value="" disabled selected>Choose Employee</option>
                                    <option th:each="employee:${employees}"
                                            th:value="${employee.id}"
                                            th:text="${employee.name}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td></td>
                        </tr>
                        </thead>
                    </table>
                    <button type="button" class="btn btn-sm btn-primary" onclick="showFormCreateContractDetail()">+
                    </button>
                    <table id="addContractDetail">
                        <thead>
                        <tr th:each="attachFacility : ${attachFacilitys}">
                            <td>
                                <input type="checkbox" th:text="${attachFacility.name}"
                                       th:value="${attachFacility.id}" onchange="ListAttachFacility()"/>
                            </td>
                            <td>
                                <input type="text" th:value="${attachFacility.cost}">
                            </td>
                            <td>
                                <input style="width: 100px" type="number" id="quantityAttachFacility"
                                       onchange="ListAttachFacility()"/>
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"
                            onclick="closeAddNewContractDetailModal()">Cancel
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" onclick="infoAddContractDetailandContract()">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>

<footer th:replace="/layout::footer"></footer>
</body>
<script>
    // Xóa nội dung của tbody danh sách dịch vụ đi kèm khi modal bị ẩn
    $("#ListAttachFacilityModal").on("hidden.bs.modal", function () {
        $("#body").empty();
    });

    // gán giá trị contracId cho modal thêm dịch vụ đi kèm
    function infoAddContractDetail(id) {
        document.getElementById("contractId").value = id;
    }

    // hiển thị danh sách dịch vụ đi kèm
    function showList(id) {
        let link = `http://localhost:8080/api/contract/contractDetailList?id=${id}`;
        $.ajax({
            type: "Get",
            dataType: "json",
            url: link,
            success: function (data) {
                let content = '';
                for (let i = 0; i < data.length; i++) {
                    content += `<tr>`
                    content += `<td>${data[i].cost}</td>`
                    content += `<td>${data[i].name}</td>`
                    content += `<td>${data[i].quantity}</td>`
                    content += `</tr>`
                }
                $('#body').html(content);
            },
            error: function () {
                alert("Không tìm thấy dữ liệu");
            }

        })
    }

    //hiển thị tổng tiền cho hợp đồng mới
    function ListAttachFacility() {
        let totalCostContractDetail = 0;
        // Lấy bảng
        var table = document.getElementById("addContractDetail");

        // Khởi tạo mảng để lưu giá trị
        var result = [];

        // Lấy danh sách các dòng trong bảng
        var rows = table.getElementsByTagName("tr");

        // Duyệt qua từng dòng trong bảng
        for (var i = 0; i < rows.length; i++) {
            // Lấy danh sách các ô trong dòng
            var cells = rows[i].getElementsByTagName("td");

            // Lấy giá trị của ô checkbox và số lượng ở ô input cùng hàng
            if (cells[0].getElementsByTagName("input")[0].checked && cells[2].getElementsByTagName("input")[0].value >= 1) {
                var checkboxValue = cells[0].getElementsByTagName("input")[0].value;
                var costValue = cells[1].getElementsByTagName("input")[0].value;
                var quantityValue = cells[2].getElementsByTagName("input")[0].value;
                // Thêm giá trị vào mảng kết quả
                result.push({attachFacilityId: checkboxValue, costAttachFacility: costValue, quantity: quantityValue});
                totalCostContractDetail += calculateTotalAmount(costValue, quantityValue);
            }
        }
        let facilityCost = $("#facility option:selected").data("cost")
        let totalCost = parseFloat(facilityCost) + totalCostContractDetail;
        $("#totalCost").val(totalCost);
        console.log(result);
    }

    // tạo dịch vụ đi kèm cho hợp đồng mới
    function infoAddContractDetailandContract(){
        let startDate = $("#startDate").val();
        let endDate = $("#endDate").val();
        let deposit = $("#deposit").val();
        let customer = $("#customer").val();
        let facility = $("#facility").val();
        let employee = $("#employee").val();

        let contract = {
            startDate: startDate,
            endDate: endDate,
            deposit: deposit,
            customer: {
                id: customer
            },
            facility: {
                id: facility
            },
            employee: {
                id: employee
            }

        }
        var table = document.getElementById("addContractDetail");
        var listContractDetail = [];
        var rows = table.getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");

            if (cells[0].getElementsByTagName("input")[0].checked && cells[2].getElementsByTagName("input")[0].value >= 1) {
                var checkboxValue = cells[0].getElementsByTagName("input")[0].value;
                var quantityValue = cells[2].getElementsByTagName("input")[0].value;
                let contractDetail = {
                    attachFacility: {id: checkboxValue},
                    quantity: quantityValue,
                }
                listContractDetail.push(contractDetail);
            }
        }
        let contractsDetailsData = {
            attachFacility: listContractDetail,
            contract: contract
        }
        $.ajax({
            type: "Post",
            url: "http://localhost:8080/api/contract/saveContractDetail",
            data: JSON.stringify(contractsDetailsData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
               onCloseModal();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        })
        closeAddNewContractDetailModal();
        onCloseModal();
    };

    function onCloseModal() {
        document.getElementById('createContractModal').style.display = 'none';
        window.location.href = "/contract/search";
    }

    // tính tổng tiền của một dịch vụ đi kèm
    function calculateTotalAmount(cost, quantity) {
        return cost * quantity;
    }

    // ẩn hiện phần chọn dịch vụ đi kèm
    function closeAddNewContractDetailModal() {
        document.getElementById("addContractDetail").style.display = "none";
        count = 1;
    }

    // ẩn hiện phần chọn dịch vụ đi kèm
    function showFormCreateContractDetail() {

        if (count % 2 == 0) {
            document.getElementById("addContractDetail").style.display = "none";
            count++;
        } else {
            document.getElementById("addContractDetail").style.display = "flex";
            count++;
        }
    }
</script>
</html>