<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/jquery-3.6.3.min.js"></script>
<body>
<div th:replace="/layout::header"></div>
<div class="row bg-success">
    <div class="col-md-2"></div>
    <div class="col-md-8 bg-">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand text-white" th:href="@{/furama}">Home</a>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                        <!--                        Employee button-->
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page"
                               href="/Employees">Employee</a>
                        </li>
                        <!--                        Customer button-->
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/furama/search}">Customer</a>
                        </li>

                        <!--                        Service button-->
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" th:href="@{/facility/search}">Service</a>
                        </li>

                        <!--                        Contrac button-->
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/contract/search}">Contrac</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div th:replace="/layout::leftContent"></div>
    <div class="col-md-11 vh-100">
        <p>
            <button type="button"
                    class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createContractModal">
                Add New Contract
            </button>
        </p>
        <table id="table123" class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Facility Name</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Deposit</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Attach Facility</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="contract,status:${contracts}">
                <td th:text="${status.count}"></td>
                <td th:text="${contract.getContractId()}"></td>
                <td th:text="${contract.getFacilityName()}"></td>
                <td th:text="${contract.getCustomerName()}"></td>
                <td th:text="${contract.getStartDate()}"></td>
                <td th:text="${contract.getEndDate()}"></td>
                <td th:text="${contract.getDeposit()}"></td>
                <td th:text="${contract.getTotalCost()}"></td>
                <td>
                    <button th:attr="onclick=|infoAddContractDetail('${contract.getContractId()}')|" type="button"
                            class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddContractDetailModal">
                        +
                    </button>
                    <button  type="button" class="btn btn-primary" data-bs-toggle="modal"
                             data-bs-target="#ListAttachFacilityModal" th:attr="onclick=|showList('${contract.getContractId()}')|">
                        List Attach Facility
                    </button>

                </td>
            </tr>

            </tbody>
        </table>
        <span>
    <a th:if="${contracts.hasPrevious()}"
       th:href="@{/contract/search(page=${contracts.number}-1)}">Trước</a></span>
        <span th:text="${contracts.number}+1+'/'"></span>
        <span th:text="${contracts.totalPages}"></span>
        <span><a th:if="${contracts.hasNext()}"
                 th:href="@{/contract/search(page=${contracts.number}+1)}">Sau</a></span>
    </div>
</div>

<!-- Add Contract Detail Modal -->
<div class="modal fade" id="AddContractDetailModal" tabindex="-1" aria-labelledby="AddContractDetailModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddContractDetailModalLabel">Add Contract Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/contract/addContractDetail}" th:object="${contractDetail}" method="post">
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <td><input hidden type="text" id="contractId" th:field="*{contract}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Facility Type</th>
                            <th scope="col">Name</th>
                        </tr>
                        <tr>
                            <td>
                                <select th:field="*{attachFacility}" id="faType" class="form-select">
                                    <option th:each="attachFacility:${attachFacilitys}"
                                            th:value="${attachFacility.id}"
                                            th:text="${attachFacility.name}">
                                    </option>
                                </select>
                            </td>
                            <td><input type="number" class="form-control" style="width: 100px" th:field="*{quantity}">
                            </td>
                        </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary">Add Contract Detail</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- List Attach Facility Modal -->
<div class="modal fade" id="ListAttachFacilityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Facility</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div>
                    <table border="1" class="table">
                        <thead>
                        <tr>
                            <th>Cost</th>
                            <th>Name</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody id="body">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
        </div>
    </div>
</div>

<!--Add new Contract-->
<div class="modal fade" id="createContractModal" tabindex="-1" aria-labelledby="createContractModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createContractModalLabel">Edit Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/contract/save}" th:object="${contract}" method="post">
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr hidden>
                            <th scope="col">ID</th>
                            <td><input type="text" id="createId" th:field="*{id}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Start Date</th>
                            <td><input type="date" id="startDate" th:field="*{startDate}"></td>
                        </tr>
                        <tr>
                            <th scope="col">End Date</th>
                            <td><input type="date" id="endDate" th:field="*{endDate}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Deposit</th>
                            <td><input type="text" id="deposit" th:field="*{deposit}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Total Cost</th>
                            <td><input type="text" id="totalCost" readonly></td>
                        </tr>
                        <tr>
                            <th scope="col">Customer</th>
                            <td>
                                <select th:field="*{customer}" id="customer">
                                    <option th:each="customer:${customers}"
                                            th:value="${customer.id}"
                                            th:text="${customer.name}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Facility</th>
                            <td>
                                <select th:field="*{facility}" id="facility" onchange="getTotalCost()">
                                    <option th:each="facility:${facilitys}"
                                            th:value="${facility.id}"
                                            th:text="${facility.name}"
                                            th:data-cost="${facility.cost}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td></td>
                        </tr>
                        <tr th:each="attachFacility : ${attachFacilitys}">
                            <td>
                                    <input type="checkbox" th:text="${attachFacility.name}" th:value="${attachFacility.id}" />
                            </td>
                            <td>
                                <input style="width: 100px" type="number" id="quantityAttachFacility"/>
                            </td>
                        </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>

<footer th:replace="/layout::footer"></footer>
</body>
<script>
    // Xóa nội dung của tbody danh sách dịch vụ đi kèm khi modal bị ẩn
    $("#ListAttachFacilityModal").on("hidden.bs.modal", function () {
        $("#body").empty();
        debugger;
    });
    function infoAddContractDetail(id) {
        document.getElementById("contractId").value = id;
    }

    function showList(id) {
        let link = `http://localhost:8080/api/contract/contractDetailList?id=${id}`;
        $.ajax({
            type: "Get",
            dataType: "json",
            url: link,
            success: function (data) {
                let content = '';
                for (let i = 0; i < data.length; i++) {
                    content += `<tr>`
                    content += `<td>${data[i].cost}</td>`
                    content += `<td>${data[i].name}</td>`
                    content += `<td>${data[i].quantity}</td>`
                    content += `</tr>`
                }
                $('#body').html(content);
            },
            error: function () {
                alert("Không tìm thấy dữ liệu");
            }

        })
    }
    function getTotalCost(){
        let selectCost = $("#facility option:selected").data("cost")
        $("#totalCost").val(selectCost);
    }
    // Lấy tất cả các ô checkbox trong bảng
    var checkboxes = document.querySelectorAll('table input[type="checkbox"]');

    // Duyệt qua danh sách các checkbox và thêm sự kiện "click" cho mỗi checkbox
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('click', function() {
            // Lấy giá trị của checkbox
            var checkboxValue = this.checked;

            // Lấy giá trị số lượng từ ô input cùng hàng với checkbox đó
            var inputValue = this.parentNode.parentNode.querySelector('input[type="number"]').value;

            console.log('Checkbox value:', checkboxValue);
            console.log('Input value:', inputValue);
        });
    }
</script>
</html>