<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="/layout::nav"></th:block>

<h1>Book</h1>

<p>
    <a th:href="@{/book}">
       Back to List Book
    </a>
</p>

<table class="table container">
    <tr>
        <th scope="col">Name</th>
        <td th:text="${book.getName()}"></td>
    </tr>
    <tr>
        <th scope="col">Quantity</th>
        <td th:text="${book.getQuantity()}"></td>
    </tr>
    <tr>
        <th scope="col">Rent Id</th>
        <td th:text="${bookLoanCard}"></td>
    </tr>
</table>
<footer th:replace="/layout::footer"></footer>
</body>
</html>