<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="/layout::nav"></th:block>
<h1>Update Blog</h1>
<p>
    <a th:href="@{/blog}">
        Back to List Blog
    </a>
</p>
<form th:action="@{/blog/update}" th:object="${blogs}" method="post" class="container">
    <input type="text" hidden th:field="*{id}">
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" th:field="*{author}">
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" th:field="*{name}">
    </div>
    <div class="mb-3">
        <label class="form-label">Date Create</label>
        <input type="text" th:field="*{dateCreate}">
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <input type="text" th:field="*{content}">
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <select type="text" th:field="*{category}">
            <option th:each="category:${categories}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<footer th:replace="/layout::footer"></footer>
</body>
</html>